.title-block {
    padding: 15px 0;
    font-size: 16px;
    border-bottom: 1px dashed #d8d8d8;
    margin-bottom: 15px;
}

.sku-table {
    border: 1px solid #eee;
    margin-bottom: 20px;
    .th {
        display: flex;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        background-color: #f8f8f9;
        &>div {
            flex: 1;
        }
    }
    .td {
        display: flex;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        &>div {
            flex: 1;
        }
        &:hover {
            background: #EBF6FF;
        }
    }
}

.edit {
    display: flex;
    .add {
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
        color: #2d8cf0;
    }
    .del {
        cursor: pointer;
        font-size: 18px;
        color: #ed3f14;
    }
    .up {
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
        color: #19be6b;
    }
    .down {
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
        color: #ff9900;
    }
    .location {
        cursor: pointer;
        font-size: 20px;
        margin-left: 10px;
        color: #ed3f14;
    }
    .align-items {
        line-height: 34px;
    }
    .goods {
        flex: 1;
    }
    .preview {
        width: 490px;
    }
    .cnt {
        .ivu-col {
            display: flex;
            .item {
                width: 700px;
                .lb {
                    width: 114px !important;
                }
            }
        }
    }
}

.btn {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    button {
        margin-left: 15px;
    }
}