<!DOCTYPE html>
<html>
  <script src="./static/js/bdSpread.js"></script>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>比特空间-专注区块链技术与应用服务商</title>
    <meta name="keywords" content="区块链、区块链应用前景、区块链技术、增值资产服务与应用、比特空间">
    <meta name="description" content="比特空间作为研究区块链技术研发与应用的服务商，从政府决策到产业、投资界、创业者，对区块链的思考、探索和践行都十分积极，已得到全球开源技术领袖和社区的密切关注，而比特空间技术团队一直都是国内区块链技术的引领者。">
  </head>
  <body>
    <span class="f-pa" style="left: 0; top: 0; z-index: 999">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1272944028'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1272944028%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>        
    </span>
    <div id="app">
      
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
